<a href="https://colab.research.google.com/github/OlaotanOpakunle/Python-Data-Science/blob/main/Filtering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [2]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=['country', 'wine_servings'], index_col='country', squeeze=True)

In [3]:
alcohol.head()

country
Afghanistan      NaN
Albania         54.0
Algeria         14.0
Andorra        312.0
Angola          45.0
Name: wine_servings, dtype: float64

In [5]:
alcohol.describe()

count    162.000000
mean      50.746914
std       76.134917
min        1.000000
25%        3.000000
50%       11.500000
75%       61.250000
max      339.000000
Name: wine_servings, dtype: float64

In [6]:
alcohol.diff().head()

country
Afghanistan      NaN
Albania          NaN
Algeria        -40.0
Andorra        298.0
Angola        -267.0
Name: wine_servings, dtype: float64

In [7]:
alcohol.diff(periods=2).head()

country
Afghanistan      NaN
Albania          NaN
Algeria          NaN
Andorra        258.0
Angola          31.0
Name: wine_servings, dtype: float64

In [8]:
miniAlc = alcohol[:10]

In [9]:
miniAlc

country
Afghanistan            NaN
Albania               54.0
Algeria               14.0
Andorra              312.0
Angola                45.0
Antigua & Barbuda     45.0
Argentina            221.0
Armenia               11.0
Australia            212.0
Austria              191.0
Name: wine_servings, dtype: float64

In [10]:
for i in miniAlc:
  print(i)

nan
54.0
14.0
312.0
45.0
45.0
221.0
11.0
212.0
191.0

In [15]:
# Filtering countries that contains a v

In [16]:
alcohol.filter(regex='v')

country
Bolivia                 8.0
Bosnia-Herzegovina      8.0
Cote d'Ivoire           7.0
El Salvador             2.0
Latvia                 62.0
Maldives                NaN
Moldova                18.0
St. Kitts & Nevis      32.0
Slovakia              116.0
Slovenia              276.0
Tuvalu                  9.0
Name: wine_servings, dtype: float64

In [17]:
# Filtering countries that start with a v

In [19]:
alcohol.filter(regex='^V')

country
Vanuatu      11.0
Venezuela     3.0
Vietnam       1.0
Name: wine_servings, dtype: float64

In [20]:
#Filtering countries that start with D | regex = regular expressions

In [21]:
alcohol.filter(regex='^D')

country
DR Congo                1.0
Denmark               278.0
Djibouti                3.0
Dominica               26.0
Dominican Republic      9.0
Name: wine_servings, dtype: float64

In [22]:
alcohol.filter(like='stan')

country
Afghanistan      NaN
Kazakhstan      12.0
Kyrgyzstan       6.0
Pakistan         NaN
Tajikistan       NaN
Turkmenistan    32.0
Uzbekistan       8.0
Name: wine_servings, dtype: float64

In [24]:
alcohol[alcohol>200]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [25]:
def gt200(x):
  return x > 200

In [26]:
alcohol[gt200]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [40]:
def gt100(x):
  return x > 100

In [41]:
alcohol[gt100]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Austria              191.0
Belgium              212.0
Chile                172.0
Croatia              254.0
Cyprus               113.0
Czech Republic       134.0
Denmark              278.0
Equatorial Guinea    233.0
Georgia              149.0
Germany              175.0
Greece               218.0
Hungary              185.0
Ireland              165.0
Italy                237.0
Laos                 123.0
Luxembourg           271.0
Montenegro           128.0
New Zealand          175.0
Norway               129.0
Portugal             339.0
Romania              167.0
Serbia               127.0
Slovakia             116.0
Slovenia             276.0
Spain                112.0
Sweden               186.0
United Kingdom       195.0
Name: wine_servings, dtype: float64

In [42]:
# The where method

In [45]:
alcohol[alcohol == alcohol.where(lambda x: x>200, other='too small')]

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [46]:
# or..

In [48]:
alcohol.where(lambda x: x>200).dropna()

country
Andorra              312.0
Argentina            221.0
Australia            212.0
Belgium              212.0
Croatia              254.0
Denmark              278.0
Equatorial Guinea    233.0
Greece               218.0
Italy                237.0
Luxembourg           271.0
Portugal             339.0
Slovenia             276.0
Name: wine_servings, dtype: float64

In [49]:
alcohol.where(lambda x: x<=200).dropna()

country
Albania              54.0
Algeria              14.0
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 150, dtype: float64

In [50]:
# The mask method

In [51]:
alcohol.mask(lambda x: x>200).dropna()

country
Albania              54.0
Algeria              14.0
Angola               45.0
Antigua & Barbuda    45.0
Armenia              11.0
                     ...
Vanuatu              11.0
Venezuela             3.0
Vietnam               1.0
Zambia                4.0
Zimbabwe              4.0
Name: wine_servings, Length: 150, dtype: float64