<a href="https://colab.research.google.com/github/OlaotanOpakunle/Python-Data-Science/blob/main/List_Comprehensions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

students = [{"name" : "Andrea", "score" : 90},
            {"name" : "Astrid", "score" : 76},
            {"name" : "Beatrice", "score" : 64},
            {"name" : "Brenda", "score" : 96}            
            ]
        
#Q1: create a list containing all the odd integers in numbers
#Q2: Create a list of all the students who scored more than 90

In [2]:
odds = []
for number in numbers:
  if number % 2 == 1:
    odds.append(number)

In [3]:
odds

[13, 1, 23]

In [5]:
[number for number in numbers]

[10, 2, 4, 12, 13, 1, 712, 23, 2, 192]

In [10]:
[number for number in numbers if number%2 ==1]

[13, 1, 23]

In [11]:
#Q2

In [12]:
students

[{'name': 'Andrea', 'score': 90},
 {'name': 'Astrid', 'score': 76},
 {'name': 'Beatrice', 'score': 64},
 {'name': 'Brenda', 'score': 96}]

In [18]:
[student for student in students if student.get("score") >= 90]

[{'name': 'Andrea', 'score': 90}, {'name': 'Brenda', 'score': 96}]

In [20]:
[student for student in students if student.get("name") == "Brenda"]

[{'name': 'Brenda', 'score': 96}]

In [21]:
[student.get("name") for student in students if student.get("name") == "Brenda"]

['Brenda']

In [23]:
[student.get("name") for student in students if student.get("score") >= 90]

['Andrea', 'Brenda']