<a href="https://colab.research.google.com/github/OlaotanOpakunle/Python-Data-Science/blob/main/The_count()_Method.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd

In [4]:
alcohol = pd.read_csv('https://andybek.com/pandas-drinks', usecols=["country", "wine_servings"], index_col="country", squeeze=True)

In [5]:
alcohol.count() # Only checks for actual values and ignores NANs

162

In [6]:
alcohol.size # Differs from "count" here as "size" checks all values

193

In [7]:

alcohol.hasnans # Check if the series has NANs

True

In [9]:
alcohol.isnull() # Boolean that shows the no-value indexes

country
Afghanistan     True
Albania        False
Algeria        False
Andorra        False
Angola         False
               ...
Venezuela      False
Vietnam        False
Yemen           True
Zambia         False
Zimbabwe       False
Name: wine_servings, Length: 193, dtype: bool

In [12]:
alcohol[alcohol.isnull()]

country
Afghanistan        NaN
Bangladesh         NaN
Bhutan             NaN
Burundi            NaN
North Korea        NaN
Eritrea            NaN
Ethiopia           NaN
India              NaN
Indonesia          NaN
Iran               NaN
Iraq               NaN
Kuwait             NaN
Lesotho            NaN
Libya              NaN
Malaysia           NaN
Maldives           NaN
Marshall Islands   NaN
Mauritania         NaN
Monaco             NaN
Myanmar            NaN
Nepal              NaN
Pakistan           NaN
Rwanda             NaN
San Marino         NaN
Saudi Arabia       NaN
Somalia            NaN
Sri Lanka          NaN
Sudan              NaN
Tajikistan         NaN
Uganda             NaN
Yemen              NaN
Name: wine_servings, dtype: float64

z # To show only the indexes (Country names)

In [14]:
type(alcohol[alcohol.isnull()].index)

pandas.core.indexes.base.Index

In [15]:
list(alcohol[alcohol.isnull()].index)

['Afghanistan',
 'Bangladesh',
 'Bhutan',
 'Burundi',
 'North Korea',
 'Eritrea',
 'Ethiopia',
 'India',
 'Indonesia',
 'Iran',
 'Iraq',
 'Kuwait',
 'Lesotho',
 'Libya',
 'Malaysia',
 'Maldives',
 'Marshall Islands',
 'Mauritania',
 'Monaco',
 'Myanmar',
 'Nepal',
 'Pakistan',
 'Rwanda',
 'San Marino',
 'Saudi Arabia',
 'Somalia',
 'Sri Lanka',
 'Sudan',
 'Tajikistan',
 'Uganda',
 'Yemen']

In [16]:
len(list(alcohol[alcohol.isnull()].index))

31

In [17]:
alcohol.isnull().sum()

31

In [18]:
# To check

In [19]:
allItems = alcohol.size

In [20]:
itemsWithValue = alcohol.count()

In [22]:
nulls = allItems - itemsWithValue

In [23]:
nulls == alcohol.isnull().sum()

True