<a href="https://colab.research.google.com/github/OlaotanOpakunle/Python-Data-Science/blob/main/The_dtype_Atrribute.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
ages = [27, 49, 37]

In [3]:
import pandas as pd

In [4]:
pd.Series(ages)

0    27
1    49
2    37
dtype: int64

In [5]:
pd.Series(ages, dtype = "float")

0    27.0
1    49.0
2    37.0
dtype: float64

In [6]:
students = ["Andrew", "Brie", "Kanika"]

In [7]:
namesList = pd.Series(students)

In [8]:
namesList

0    Andrew
1      Brie
2    Kanika
dtype: object

In [9]:
namesList.dtype

dtype('O')

In [10]:
# String values are of Object data type