<a href="https://colab.research.google.com/github/OlaotanOpakunle/Python-Data-Science/blob/main/The_head()_and_tail()_Methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
intSeries = pd.Series([i for i in range(60)])

In [3]:
intSeries

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
26    26
27    27
28    28
29    29
30    30
31    31
32    32
33    33
34    34
35    35
36    36
37    37
38    38
39    39
40    40
41    41
42    42
43    43
44    44
45    45
46    46
47    47
48    48
49    49
50    50
51    51
52    52
53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [4]:
intSeries.size

60

In [6]:
len(intSeries)

60

In [8]:
intSeries.head() # For the first 5 items of a series

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [16]:
intSeries.tail() # The last 5 items

55    55
56    56
57    57
58    58
59    59
dtype: int64

In [10]:
mySeries = pd.Series([i for i in range(25)])

In [11]:
mySeries

0      0
1      1
2      2
3      3
4      4
5      5
6      6
7      7
8      8
9      9
10    10
11    11
12    12
13    13
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
dtype: int64

In [12]:
len(mySeries)

25

In [13]:
mySeries.size

25

In [14]:
mySeries.head()

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [15]:
mySeries.tail()

20    20
21    21
22    22
23    23
24    24
dtype: int64

In [17]:
intSeries.head(3) # Only the first three items

0    0
1    1
2    2
dtype: int64

In [18]:
mySeries.head(5)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [19]:
intSeries.tail(n=7)

53    53
54    54
55    55
56    56
57    57
58    58
59    59
dtype: int64

In [21]:
mySeries.tail(6)

19    19
20    20
21    21
22    22
23    23
24    24
dtype: int64

In [24]:
bigSeries = pd.Series(range(100000))

In [26]:
bigSeries # Automatically truncates to save space

0            0
1            1
2            2
3            3
4            4
         ...
99995    99995
99996    99996
99997    99997
99998    99998
99999    99999
Length: 100000, dtype: int64