<a href="https://colab.research.google.com/github/OlaotanOpakunle/Python-Data-Science/blob/main/Zipping_Iterables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
names = ["Andrew", "Brian", "Caledon", "Dierdre"];
score = [100, 90, 74, 84];

In [3]:
zip(names, score)

In [4]:
list(zip(names, score))

[('Andrew', 100), ('Brian', 90), ('Caledon', 74), ('Dierdre', 84)]

In [6]:
for i in list(zip(names, score)):
  print (i)

('Andrew', 100)
('Brian', 90)
('Caledon', 74)
('Dierdre', 84)

In [8]:
for studentName, studentScore in zip(names, score):
  print("{} got a score of {} on the exam".format(studentName, studentScore))

Andrew got a score of 100 on the exam
Brian got a score of 90 on the exam
Caledon got a score of 74 on the exam
Dierdre got a score of 84 on the exam

In [9]:
names = ["Andrew", "Brian", "Caledon", "Dierdre"];
score = [100, 90, 74, 84];
attendance = [True, True, False, True]

In [12]:
zip(names, score, attendance)

In [13]:
for studentName, studentScore, attendance in zip(names, score, attendance):
  print("{} with an attendance record of {}, got a score of {} in the test".format(studentName, attendance, studentScore))

Andrew with an attendance record of True, got a score of 100 in the test
Brian with an attendance record of True, got a score of 90 in the test
Caledon with an attendance record of False, got a score of 74 in the test
Dierdre with an attendance record of True, got a score of 84 in the test